@import 'tailwindcss';

@theme {
  --color-background: #0f1418;
  --color-primary: #4f46e5;
  --color-secondary: #0ea5e9; /* cyan color*/
}

@layer utilities {
  .glow-shadow {
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.2);
  }
}